@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
}

.bold {
  font-weight: 600;
}

.grey-color{
  color: #58585B;
}

.form {
  display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 1rem;
}

.error {
  text-align: center;
  color:#dc3545;
}

.login-container, .create-container{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 75vh;
}

nav{
  padding: 1rem;
  background-color: #f9f9f9;
}

.nav-btn{
  background: #58585B;
  color:white;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
}

.s-20{
  font-size: 18px;
}

.absolute-btn{
  position: absolute;
  right: 4.75rem;
  top: 0.75rem;
}

.mr-1{
  margin-right: 1rem;
}

.p-1-25 {
  padding: 1rem 1.25rem;
}

.grey-background button{
  background-color: #f9f9f9;
}

.accordion-button:focus {
  z-index: 3;
  border-color: #58585B;
  outline: 0;
  box-shadow: 0 0 0 .25rem #58585b00;
}

.accordion-button:not(.collapsed) {
  color: #58585B;
  background-color: #e6e6e6;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0);
}

.bordered-div{
  border: 1px solid #e6e6e6;
  border-radius: 0.5rem;
} 

.btn-eliminar{
  color:#dc3545;
}

.icon-refresh{
  margin-bottom: 0.15rem;
  margin-right: 0.2rem;
}

.btn-refresh{
  background-color: #58585B;
  border-color: #58585B;
}

.btn-primary:hover, .btn-primary:focus {
  color: #fff;
  background-color: #3b3b3b;
  border-color: #3b3b3b;
  box-shadow: none;
}